<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x2021.mycloud.multidatasoucexa.mapper.db1.LogMapper">
    <select id="findAll" resultType="com.x2021.mycloud.multidatasoucexa.entity.Log">
        SELECT * FROM log
    </select>
    <select id="getLog" resultType="com.x2021.mycloud.multidatasoucexa.entity.Log">
        SELECT * FROM log where id = #{id};
    </select>

    <!--保存数据selectKey若启用则添加成功后id会自动返回-->
    <insert id="insertSelective" parameterType="com.x2021.mycloud.multidatasoucexa.entity.Log" useGeneratedKeys="true">
<!--         <selectKey resultType="int" keyProperty="id" order="AFTER">-->
<!--              SELECT LAST_INSERT_ID()-->
<!--         </selectKey>-->
        insert into log(
        content,
        des
        ) values (
        #{content},
        #{describe}
        )
    </insert>
</mapper>